.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  width: 400px
}

main {
  display: flex;
  justify-content: center;
  width: 768px
}

ul>li {
  margin: 32px auto;
  padding: 16px;
  border-radius: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul>li>img {
  height: auto;
  width: 300px;
  align-self: center;
}